<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest.indianoceanbandfan" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IndianOceanActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArtistsActivity"
            android:label="@string/title_activity_artists"
            android:parentActivityName=".IndianOceanActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.guest.indianoceanbandfan.IndianOceanActivity" />
        </activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/title_activity_album"
            android:parentActivityName=".IndianOceanActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.guest.indianoceanbandfan.IndianOceanActivity" />
        </activity>
    </application>

</manifest>
